<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="../../frontend/css/style.css">
</head>
<body>
    <div class="todo-container">
        <h1>Liste de Tâches</h1>
        <table id="todo-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tâche</th>
                    <th>Délai de Début</th>
                    <th>Délai de Fin</th>
                </tr>
            </thead>
            <tbody id="todo-list">
                <!-- Les données de la liste de tâches seront insérées ici dynamiquement -->
            </tbody>
        </table>
        <div class="form-container">
        <h1>Add Task</h1>
            <form id="task-form">
                <label for="task">Task:</label>
                <input type="text" id="task" name="task" required>
                <label for="startDate">Start Date:</label>
                <input type="date" id="startDate" name="startDate" required>
                <label for="endDate">End Date:</label>
                <input type="date" id="endDate" name="endDate" required>
                <button type="submit">Add Task</button>
            </form>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>
